<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
<footer>
    
    <a href="https://leonnoel.com/"><img id="footerIMG" src="/imgs/dominos.jpg" alt=""></a>
    
<ul>
        <li><a href="https://github.com/barbaralaw/binary_upload_boom_onejp">OnlyFriends GitHub</a></li>
        <li><a href="https://github.com/barbaralaw">Barbara Law GitHub</a></li>
        <li><a href="https://github.com/GilSolis">Gil Solis GitHub</a></li>
        <li><a href="https://github.com/TyrWinDev">Pedro Medina GitHub</a></li>
        <li><a href="https://github.com/yash20010">Yash Parekh GitHub</a></li>
    
</ul>

</footer>