<%- include('partials/header') -%>

  <!-- Splash image carousel -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-interval=3000 data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-interval=3000 data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-interval=3000 data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-interval=3000 data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-interval=3000 data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">1040 1940
      <div class="carousel-item active">
        <img src="../imgs/carousel-img-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../imgs/carousel-img-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../imgs/carousel-img-3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../imgs/carousel-img-4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Splash image carousel -->

  <!-- Hero section -->
  <!-- Basic info & Value statement with smiling image on left -->
  <!-- Button to Teachers & button to Parents -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Bringing Readers<br>Together</h1>
          <p>It has been proven time and time again that one of the most beneficial things a growing mind can do is read regularly. Reading not only enhances the brain's neuropathways - it offers new and informative viewpoints, expands perspectives, and opens up worlds of imagination and creativity.</p>
          <p>We at <span>reading circle<span> believe that making reading a more open and social experience is crucial to keeping today's children and young adults engaged in this critical endeavor. Students can share their current reads and bookshelves with friends, can compare reflections and analyses with their peers, and inspire a love of reading in one another.</p>
          <p>Let a love of reading take root and grown in your classroom and your home today.</p>
          <a class="btn btn-dark btn-lg" href="/signup">Sign Up Now</a>
        </div>
        <div class="col img-col">
          <img src="../imgs/hero-img.svg" alt="Reading Book" class="img-fluid" />
        </div>
      </div>
      <div class="row cards">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/icon1.svg" alt="Service One" class="icon" />
              <h5 class="card-title">Shared Bookshelf</h5>
              <p class="card-text">Students are exposed to a variety of books that their peers are reading and can build up their on reading list.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/icon2.svg" alt="Service Two" class="icon" />
              <h5 class="card-title">Share with Cohort</h5>
              <p class="card-text">Users share and see posts within their classroom cohort, and are not exposed to or overwhelmed by too much input.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/icon3.svg" alt="Service Three" class="icon" />
              <h5 class="card-title">Explore Individually</h5>
              <p class="card-text">Any books being read can be added to the application, allowing users to share their passions with peers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero section -->

  <!-- About Us Section -->
  <section id="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img src="../imgs/about-us.png" alt="About Us" class="img-fluid" />
        </div>
        <div class="col">
          <h2>About Us</h2>
          <p>This website is the work of love of a bookworm and mother. Raised on books, consuming story after story at the local library and at home, our founder knew that instilling a love of reading in her children would be one of her guiding principles as a parent.</p>
          <p>Children today are not living in the same world their parents grew up in. Devices and media are everywhere we go, and often a simple seeming activity like picking up a book simply can't compete against the draw of the screen. That is why reading circle aims to add a social aspect to books, to show the young just what they can discover within their pages.</p>
          <button type="button" class="btn btn-dark btn-lg">Meet us</button>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="container">
      <div class="row align-items-center projects">
        <div class="col">
          <h2>What Our Users Say</h2>
          <p>Teachers, parents, and students love reading circle! With sharing a love of reading as our guiding focus, and new features released regularly, what's not to love? Here are just a few of the kind words we've received:</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <div class="card mb-3">
            <div class="row">
              <div class="col">
                <img src="../imgs/testimonial-jennifer.jpg" class="img-fluid" alt="Jennifer - Teacher">
              </div>
              <div class="col">
                <h5 class="card-title">Connecting more than Ever</h5>
                <p class="card-text">Since signing up and trying out reading circle with my classes, I've noticed a deeper connection and understanding to the assigned readings, and more thoughtful discussion during class time.</p>
                <p class="card-text">Students are sharing their own reads, ranging from non-fiction interests to graphic novels, and I'm discovering more about what they enjoy every day.</p>
                <p class="card-text"><small class="text-muted">Jennifer T. - Teacher</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="row">
              <div class="col">
                <img src="../imgs/testimonial-bridget.jpg" class="img-fluid" alt="Bridget - Parent">
              </div>
              <div class="col">
                <h5 class="card-title">Brought back the Joy</h5>
                <p class="card-text">My children are both in elementary school and remote learning has had many ups and downs.</p>
                <p class="card-text">I am so thankful their teachers brought reading circle into the classroom. There are no more tears at daily reading time, and they're asking me to get books their friends shared. Thank you!</p>
                <p class="card-text"><small class="text-muted">Bridget S. - Parent</small></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- Contact Us -->
  <section id="contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h2>Contact Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

    </div>
  </section>
  <!-- End Contact Us -->

  <!-- Large testimonial quote -->
  <div class="">

  </div>

  <!-- Final call to action -->
  <div class="">

  </div>

  <div class="container card text-center shadow " style="margin-top: 7rem; min-width: 300px; max-width: 450px; height:auto">
    <h1 class="display-5">Sign in or create account</h1>
    <div class="btn-group flex-column">
      <a class="btn btn-outline-primary btn-lg col" href="/login"> Login</a>
      <a class="btn btn-outline-primary btn-lg col" href="/signup"> Signup</a>
    </div>

  </div>

  <script src="/js/main.js"></script>
  <script src="/js/postPage.js"></script>
  <%- include('partials/footer') -%>
