<%- include('partials/header') -%>

  <!-- Full screen splash image slideshow, buttons to continue -->
  <div class="">

  </div>

  <!-- Basic info & Value statement with smiling image on left -->
  <!-- Button to Teachers & button to Parents -->
  <div class="">

  </div>

  <!-- Large testimonial quote -->
  <div class="">

  </div>

  <!-- Final call to action -->
  <div class="">

  </div>
  
  <div class="container card text-center shadow " style="margin-top: 7rem; min-width: 300px; max-width: 450px; height:auto">
    <h1 class="display-5">Sign in or create account</h1>
    <div class="btn-group flex-column">
      <a class="btn btn-outline-primary btn-lg col" href="/login"> Login</a>
      <a class="btn btn-outline-primary btn-lg col" href="/signup"> Signup</a>
    </div>

  </div>
