<!-- Maybe combine sign up pages into a generic single one with radio button selection to enable additional fields -->


<!-- Signup view for parent/child -->

<%- include('partials/header') -%>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <div class="container card text-center shadow " style="margin: 7rem auto; min-width: 300px; max-width: 450px; height: auto">
    <form action="/signup" method="POST" class="btn-group flex-column">
        <input type="text" name="userName" placeholder="User Name" class="form-control btn-lg my-2">

        <input type="text" name="firstNameParent" placeholder="Parent/Guardian First Name" class="form-control btn-lg my-2">
        <input type="text" name="lastNameParent" placeholder="Parent/Guardian Last Name" class="form-control btn-lg my-2">
        <input type="email" name="email" placeholder="Parent's Email" class="form-control btn-lg my-2">
        <input type="password" name="password" placeholder="Parent's Password" class="form-control btn-lg my-2">
        <input type="password" name="confirmPassword" placeholder="Confirm Parent's Password" class="form-control btn-lg my-2">

        <input type="text" name="firstNameChild" placeholder="Child First Name" class="form-control btn-lg my-2">
        <!-- add additional students? -->

        <!-- Include input area for joining a class group? -->

        <input type="submit" class="btn btn-outline-primary btn-lg col">
        <!-- Add later
          <p class="my-0">Need to sign up as a teacher? <a href="/teacher_signup">SIGN UP</a></p>
        -->
        <p class="my-0">Already have an account? <a href="/login">LOG IN</a></p>
    </form>
    </div>
    <%- include('partials/footer') -%>
