#post {
  display: none;
}
#allPosts {
  display: none;
}

/*
=== STYLE COLOR GUIDE ===
orange = #fb690a;
veryDarkGrey = #2f2e41;
white = white;
lightGrey = #e5e5e5;
*/

body {
  display: block;
  overflow-x: hidden;
}

nav,
footer {
  background-color: #fb690a;
}

.navbar-brand img {
  max-height: 75px;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

nav ul li a {
  color: white;
  font-size: 22px;
  margin: auto 10px;
}

nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1,
section h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #2f2e41;
  text-align: left;
  margin-bottom: 20px
}

section p {
  font-size: 16px;
  font-weight: 300;
}

#myCarousel,
#welcomeUser,
#socialFeed,
#postDetails,
#about,
#logInBox,
#signUpBox {
  margin-top: 100px;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: flex-end;
}

#hero img {
  max-width: 130% !important;
  width: 130%;
}

#hero .card {
  /*box-shadow: 11px 7px 16px #f9f9f9;*/
  box-shadow: 11px 7px 16px #9e9e9e;
  border: 0;
  text-align: center;
}

#hero .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

#projects .card {
  padding: 2%;
  border-radius: 10px;
}

#projects h2 {
  color: white;
}

#projects img {
  border-radius: 10px 0 0 10px;
}

#projects {
  background-color: #fb690a;
}

#contact {
  text-align: center;
}

#contact h2 {
  text-align: center;
  color: #2f2e41;
}

#socialFeed a,
#socialFeed a:hover,
#socialFeed a:active,
#socialFeed a:visited,
#recentPosts a,
#recentPosts a:hover,
#recentPosts a:active,
#recentPosts a:visited,
#allPosts a,
#allPosts a:hover,
#allPosts a:active,
#allPosts a:visited {
  text-decoration: none;
  color: black;
}

#socialFeed  .card,
#allPosts  .card,
#recentPosts  .card {
  box-shadow: 11px 7px 16px #9e9e9e;
  border: 0;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.greyRoundButton {
  max-width: 50% !important;
  border-radius: 50px !important;
  background-color: #2f2e41;
  color: white;
}

.greyRoundButton:hover {
  background-color: #e5e5e5;
  color: #2f2e41;
}

blockquote {
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: fantasy;
}

/* Media Query for feed container card  on Desktop
@media only screen and (min-width: 992px) {
  /* Makes font size more consistent on bigger screens
  #newsContainer  .card .card-title {
    font-size: 1.1rem;
  }

  /* Sets a max width to the card so it doesnt take half the screen on desktop
  #feedContainer .card {
    width: 420px;
  }
}
*/
